@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

#container {
    width: 100%;
    position: relative;
}

li {
    cursor: pointer;
}

/* Header Styles */
.a366 {
    width: 100%;
    height: auto;
    position: relative;
    /* border: 2px solid black; */
}

.a399 {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    justify-content: flex-end;
    margin-right: 5px;
    /* border: 2px solid black; */

}

.a399 p {
    font-size: 14px;
    font-weight: 400;
    color: #646464;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.a399 p span {
    color: #0582E9;
    font-weight: bold;
}

.a400 {
    width: 100%;
    /* height: 76px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #D8E7F3;
    /* padding: 10px 0; */
    flex-wrap: wrap;
    /* border: 2px solid black; */
}

.b400 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 54%;
    /* border: 2px solid black; */
}

.logos {
    width: 195px;
    height: 70px;
    margin-left: 24px;
}

.a397 ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 10px;
}

.a397 ul li {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 25px 2px;
    margin: 0px 5px;  
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    transition: color 0.3s ease;
    /* margin-left: 10px; */
    /* border: 2px solid black; */
}
.a397 ul li img{
    margin-left: 10px;
    padding-top: 3px;
}
.a397 ul li::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0582E9;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.a397 ul li:hover {
    color: #0582E9;
    font-weight: bold;
}

.a397 ul li:hover::after {
    transform: scaleX(1);
}

.a363 {
    width: 100%;
    max-width: 21.5%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asearchbar {
    width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    margin-right: 5px;
    /* border: 2px solid black; */
}

.asearchbar input {
    width: 100%;
    height: 100%;
    border: 1px solid #C1D7E8;
    border-radius: 60px;
    padding-left: 10px;
}

.asearchicon {
    background-color: blue;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.a401 {
    width: 100%;
    background-color: #F0F5F9;
    display: flex;
    align-items: center;
    padding: 5px 0;
    /* border: 2px solid black; */
    /* height: 60px; */
}

.a365 {
    width: 100%;
    /* border: 2px solid black; */
    height: 30px;
}

.a365 pre {
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #646464;
    margin: 0;
    margin-left: 20px;
}

.a365 pre span {
    color: black;
    font-weight: 500;
}

/* Main Content Layout */
.content {
    display: flex;
    flex-wrap: nowrap;
}

/* Sidebar Styles */
.a367 {
    width: 18%;
    min-width: 270px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 25px;
    border-radius: 16px;
    background: #F0F5F9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid black; */
}

.a367 .mainbuttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.a367 button {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: black;
    text-align: left;
    width: 90%;
    height: 58px;
    border-radius: 8px;
    background: #FFFFFF;
    border: none;
    padding-left: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    transition: background 0.3s, color 0.3s;
}

.a367 .logoutbutton {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.a367 .logoutbutton button {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border: none;
}

.a367 .logoutbutton img {
    margin-right: 10px;
}

.a367 button:hover,
.a367 button:active {
    background: #0582E9;
    color: white;
    font-weight:700 ;
}

/* Main Content Styles */
/* .maincontent {
    flex-grow: 1;
    margin-left: 2%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.a388 {
    width: 98%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #5CAADF;
    flex-wrap: wrap;
    padding: 10px 0;
}

.b388 {
    width: 100%;
    max-width: 20%;
    /* text-align: left; */
    border: 2px solid black;
}

.b388 p {
    display: flex;
    justify-content: start;
    align-items: center;
}

.b388 p span {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 12px;
}

.a386 {
    width: 100%;
    max-width: 254px;
}

.adropdown {
    width: 100%;
    max-width: 180px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #C1D7E8;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.a386text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

/* Table Styles */
/* Main Content Styles */
.maincontent {
    flex-grow: 1;
    margin-left: 3px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    /* border: 2px solid black; */

}

/* Table Styles */
.maintable {
    width: 98%;
    margin-top: 15px;
    overflow-x: auto; /* Allow horizontal scrolling for the table container */
    /* border: 2px solid black; */
    
}

#atable {
    width: 100%;
    /* min-width: 1000px; Adjust this value based on your table's content */
    border: 1px solid #D8E7F3;
    border-collapse: collapse;

}

#atable th, #atable td {
    border: 1px solid #D8E7F3;
    padding: 10px;
}

#atable th {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    background-color: #F0F5F9;
    white-space: nowrap;
    vertical-align: middle;
    color: #222222;
}

#atable th span {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

#atable td {
    font-family: Poppins;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    vertical-align: middle;
}
#atable td#status-active {
    color: #28a745;
    /* font-weight: 400; */
}

#atable td#status-inactive {
    color: #dc3545;
    /* font-weight: bold; */
}

#atable td:nth-child(4) {
    color: #0582E9;
}
#atable td:nth-child(7) {
    min-width: 130px !important;
}
#atable td:nth-child(3) {
    min-width: 150px !important;
}
#atable td:nth-child(9) {
    white-space: nowrap;
}
#atable td img {
    cursor: pointer;
    margin: 0 5px;
}

/* Pagination Styles */
.a396 {
    width: 98%;
    margin-top: 20px;
    margin-left: 6px;
}

.b396 {
    width: 100%;
    max-width: 25%;
}

.b396 p {
    display: flex;
    align-items: center;
}

.b396 p span {
    margin: 0 8px;
    padding: 5px 10px;
    border: 1.5px solid #D8E7F3;
    border-radius: 8px;
}

#before {
    margin-left: 22px;
}

/* Footer Styles */
.footer1 {
    width: 100%;
    background-color: #26333E;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.b365 {
    width: 100%;
    max-width: 253px;
    margin-left: 25px;
    /* border: 2px solid black; */
    
}

.b365 p {
    font-family: Poppins;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    /* text-align: center; */
    /* vertical-align: middle; */
    /* border: 2px solid black; */
    margin: 0%;
}

.a389 {
    width: 100%;
    max-width: 486px;
    margin-left: auto;
    margin-right: 10px;
}

.a389 ul {
    display: flex;
    list-style: none;
    gap: 35px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.a389 ul li {
    font-family: Poppins;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}

/* Responsive Styles */
@media screen and (max-width: 1600px){
    .a397 ul li{
        font-size: 16px;
    }
    .b400{
        max-width: 60%;
    }

}
@media screen and (max-width: 1300px){
    .a397 ul li{
        font-size: 16px;
    }
    .b400{
        max-width: 70%;
    }

}
@media screen and (max-width: 1024px) {
    .content {
        flex-direction: column;
    }

    .a367, .maincontent {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .b400, .a363 {
        max-width: 100%;
        margin-left: 5px;
    }

    .a397 ul {
        justify-content: flex-start;
    }

    .b365, .a389 {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .a389 ul {
        justify-content: center;
    }
    
        .maintable {
            overflow-x: auto;
        }
        
        #atable {
            min-width: 1000px; /* Adjust this value based on your table's content */
        }
    
}

@media screen and (max-width: 768px) {
    .a399 p {
        flex-direction: row;
        align-items: flex-end;
    }

    .a397 ul li {
        padding: 10px;
    }

    .b388, .a386 {
        width: 100%;
        max-width: 100%;
    }

    .b396 {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .a399 p, .a397 ul li, .asearchbar input, .a365 p, #atable th, #atable td, .a367 button, .b365 p, .a389 ul li {
        font-size: 12px;
    }

    .logos {
        width: 150px;
        height: auto;
    }
}
